.section-8 {
  padding-top: 80px;

  .section-head {
    margin-bottom: 50px;
    h2 {
      text-align: left;
      margin-top: 0;
      &::after {
        transform: none;
        left: 0;
      }
    }
    p{
      text-align: left;
    }
  }

  .s8-items {
    margin-bottom: 20px;
  }

  .s8-item {
    text-align: center;
    p {
      font-family: "RalewayBold";
      font-size: em(13px);
      line-height: em(19px);
      margin-top: 18px;
    }
  }

  .img-wrap {
    height: 72px;
    img {
      height: 72px;
    }
    &:before {
      display: none;
    }
  }



  .forms {
    opacity: 0.8;
    background-color: $section8-white-button;
    padding: 35px 35px;
    color: $forms-color-gray;
    font-size: em(14px);
    border-bottom: $forms-color-dark2 3px solid;
    margin: 10px;
    h4 {
      color: $section-bottom-blue;
      font-family: "PFCFentroSlabProMedium";
      font-size: em(34px);
      text-transform: none;
      margin: 0 0 3px;
      border-color: $bottom-color-dark;
    }
    p {
      color: $section8-gray-p;
      line-height: em(23px);
      margin-top: 15px;
    }
    label {
      margin-top: 22px;
      margin-bottom: 20px;
      display: block;
    }
    span {
      display: block;
      letter-spacing: 1.5px;
      margin-bottom: 4px;
      color: $span-color-gray;
    }
    input {
      color: $bottom-color-dark;
      font-size: 17px;
      display: block;
      width: 100%;
      border: none;
      border-top: 3px $input-color-navy-blue solid;
      background-color: $section8-gray-input;
      text-indent: 10px;
      padding: 7px 0;
      &:focus {
        background-color: $input-focus-blue;
      }
    }
  }

  .button-wrap {
    text-align: center;
    button {
      display: inline-block;
      border: none;
      background-color: $main-color;
      color: $button-color-dark2;
      font-size: em(22px);
      font-family: "PFCentroSlabProBold";
      padding: 12px 30px;
      border-bottom: 3px $bottom-button-orange solid;
      margin-top: 10px;
      transition: all 5s ease;
      &:hover {
        background-color: $button-color-yellow;
      }
      &:active {
        background-color: $button-navy-yellow-active;
      }
    }
  }

}

@media only screen and (max-width: 992px) {
  .section-8 {
    button {
      padding: 10px 10px;
    }

    .section-head {
      h2 {
        text-align: center;
        &::after {
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
      p {
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .s8-item {
    margin-bottom: 30px;
  }
}