/* основные тона в header */
$main-color: #F39F18;
$top-color: #232D3B;
$bottom-color: #111821;
$white-color: #fff;
$main-head-color: #394b5f;
$toggle-one-color: #888;
$forms-color1: #97a4b2;
$forms-color2: #1a222b;
$span-color: #778390;
$input-color1: #1F2A36;
$input-color2: #34465A;
$input-focus: #394e65;
$button-color1: #111111;
$bottom-button-color: #B97200;
$button-color-hover: #ffb338;
$button-color-active: #DB8C0E;

/* основные тона в content */
$homesect-color: #F9F9F9;
$section-bottom: #2c3949;
$border_bottom: #D6DAE0;
$border-p: #DEE1E5;
$border-p1: #546476;
$section-bottom2: #e5e5e5;
$section-bottom4: #d6d6d6;
