@import "colors";

body {
  font-family: RalewayRegular;
  font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: PFCentroSlabProBold;
  font-weight: bold;
  line-height: em(22px);
}

h1 {
  font-size: em(48px);
}

h2 {
  font-size: em(30px);
}

.buttons {
  display: inline-block;
  border: none;
  background-color: $main-color;
  color: $button-color-dark2;
  font-size: em(22px);
  font-family: "PFCentroSlabProBold";
  padding: 12px 30px;
  border-bottom: 3px $bottom-button-orange solid;
  margin-top: 10px;
  transition: all .5s ease;
  text-decoration: none;
  &:hover{
    background-color: $button-color-yellow;
    color: $button-color-dark2 ;
    &:active {
      background-color: $button-navy-yellow-active;
      color: $button-color-dark2;
    }
  }
}

a {
  color: $main-color;
  text-decoration: underline;
  &:hover {
    color: $main-color;
  }
}

.d-flex {
  display: flex;
}

