/*==========  Desktop First Method  ==========*/
@import "colors";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .main-menu {
    display: block;
    min-width: 295px;
    float: right;
    text-align: right;
    background-color: #1c242c;
    margin-top: 10px;
    border-bottom: $bottom-color 4px solid;
    border-top: $top-color 4px solid;
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 1000;
    ul{
      padding: 0;
      li{
        display: block;
        line-height: 0;
        padding: 0;
        a {
          display: block;
          line-height: 48px;
          padding: 0 20px;
          background-color: #394b5f;
          font-size: em(18px);
          transition: all .5s ease;
          &:hover {
            background-color: #1b2637;
            transition: all .5s ease;
          }
        }
      }
    }
  }

  .main-menu {
    display: none;
  }

  .phone {
    padding-right: 60px;
  }

  .toggle-menu {
    line-height: 34px;
    width: 34px;
    height: 34px;
    top: 0px;
  }




}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

  .main-menu {
    top: 50px;
  }

  .header-wrap {
    margin-top: 0;
    h1 {
      margin-top: 0px;
    }
  }

  .s1_bottom_triangle {
    background-size: cover;
  }



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


  .phone-wrap{
    .phone{
      font-size: em(16px);
      line-height: 34px;
      padding-right: 50px;
    }
  }

  .logo img {
    width: 70px;
  }

  .toggle-menu {
    line-height: 34px;
   margin-top: 15px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {








}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
  .main-menu {
    display: block !important;
    outline: none !important;
  }
}