/*==========  Desktop First Method  ==========*/
@import "colors";

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  /* 4 секция */
  .s-gray {
    .section-bottom4 {
      margin-top: 30px;
    }
  }

  .s-gray {
    .section-pb {
      .container {
        width: 100%;
      }
    }
  }

  /* 5 секция */
  .tc-item {
    margin-bottom: 15px;
  }
  .triangles-container {
    .tc-item {
      &:first-child {
        margin-left: -40px;
      }
    }
  }

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
/* Секция 4 */
  .s-gray {
    .section-bottom4 {
      margin-top: 0px;
    }
  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  /* 5 секция */
  .section-5 {
    .triangles-container {
      .tc-item {
        margin-left: 0;
      }
    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
  /* header */
  .main-menu {
    display: block !important;
    outline: none !important;
  }
  .section-3{
    .s3-img-wrap {
      top: 20px;
    }
  }
}


@media only screen and (width : 1200px){
  .section-3 {
    .s3-img-wrap {
      margin-left: 115px;
      top: 20px;
    }
  }
}

@media only screen and (width : 768px){
  .section-3 {
    .info-item-wrap {
      width: 47.333%;
    }
  }
}